@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* html{height:100%;} MODIF CHANTAL SINON BACKGROUND NUL */
@import "responsive.css";

@media (min-width: 320px) {
  #bottom, #top {
    display: none;}
}
input[type="text"]{font-weight:bold;
    color:#1C0000;
    border-radius:1em;border:0.1em solid#FF8D16;
    background: #FFF176;background: linear-gradient(to top, #FFF176, #FF8D16);}
.input[type="text"]:hover{color:#0EE3DC;text-shadow:0.1em 0.1em 0#DEDEDE;background:#FF8D16;
    background: linear-gradient(180deg,#FF8D16, #FFF176);}
input[type="submit"]{font-weight:bold;
    color:#1C0000;
    border-radius:1em;border:0.1em solid#FF8D16;
    background: #FFF176;background: linear-gradient(to top, #FFF176, #FF8D16);}
.input[type="submit"]:hover{color:#0EE3DC;text-shadow:0.1em 0.1em 0#DEDEDE;background:#FF8D16;
    background: linear-gradient(180deg,#FF8D16, #FFF176);}
.formulaire{
    width:100%;height: 65vh;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.leftF{display:flex; width:50%; justify-content: center;align-items: center;height:60vh;}
.leftF img{display:flex;height:40vh;justify-content: center;}
.rightF{
    font-size: 1vw;
    width:50%;height:50vh;
    display: flex;flex-direction:column;
    flex-wrap: nowrap;
    border:0.2em solid transparent;
    border-radius:2em;
    background:rgb(255,253,109);
    background:linear-gradient(180deg, rgba(255,253,109,1) 43%, rgba(255,141,22,1) 100%);}
.Varticle{display: flex;flex-direction: column;}
#name,#nickname,#date,#titre,#ressourceUrl{font-size:1vw;border-radius:2em;display: inline;margin-bottom:1em}
#date,#ressourceUrl{background:linear-gradient(180deg,rgba(255,253,109,1) 43%,rgba(255,141,22,1) 100%);width:15vw;}
textarea{background:rgb(255,253,109);background:linear-gradient(180deg,#FFF176,#BBDEFB);border-radius:1em;}
textarea{margin-bottom:1em;margin-top:1em;margin-left:10%;width:40vw;height:20vh;}
.poster{display: inline-flex;text-align:center;justify-content: space-between;}
.btn{margin: 2em 0 0 0; display: flex; justify-content: space-between;}
/* input[type="submit"]{
        border: 0;
        line-height: 2.5vh;
        padding: 0 0.2em;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        border-radius: 2em;
        background-color: rgba(220, 0, 0, 1);}
        input[type="reset"]{
            border: 0;
            line-height: 2.5vh;
            padding: 0 0.2em;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            border-radius: 2em;
            background-color: rgba(220, 0, 0, 1);} */