@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{height:100%;} 
body{font-family:'Roboto', sans-serif;
    background:rgb(61,2,2);
    background:radial-gradient(circle, rgba(61,2,2,1) 0%, rgba(41,24,4,1) 100%);
    display:flex;
    flex-direction:column;}
header{padding:3%;
    display:flex;
    flex-direction:column;
    border:1px solid transparent;}
.up{display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:50%;
    border:1px solid transparent;
    border-radius:20px;
    background:rgb(255,253,109);
    background:linear-gradient(180deg,rgba(255,253,109,1) 43%,rgba(255,141,22,1) 100%);}
.balls{margin-top:3vh;
    display:flex;justify-content:space-evenly;}
.vis2{width:20px;height:20px;}
.ball-1{margin-left:3vh;}
.search{border:1px solid #F57F17;
        border-radius:20px;
        background:linear-gradient(180deg,#FFF176,#BBDEFB);
    width:13vh;
    /* height:5vh; */
    margin-left:15vh; 
    display:flex;
    align-items:center;}
 /*.search-container {
    display: inline;
  }*/
  
input[type=text] {
    padding: 5px;
    /* margin-top: 8px; */
    font-size: 1.5rem;
    background:linear-gradient(180deg,#FFF176,#BBDEFB);
    border: 1px solid #F57F17;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 18vh;
}
.search-container button{
    float: right;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    background:linear-gradient(180deg,#FFF176,#BBDEFB);
    height:2.45rem; 
    border:1px solid#F57F17;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}
.key{width: 1.5rem;height: 1.5rem;margin:auto;}
.search-container button:hover {
    background: rgba(61,2,2,1);
}
.ball-2{margin-right:3vh;}
.titre{display:flex;
    justify-content:space-around;}
.telescope{padding-top:3%;
    width:5rem;
    height:5rem;
    color:#3a3221;}
.blog{margin-right:10vh;}
.reballs{margin-bottom:3vh;
    display:flex;
    justify-content:space-between;} 
.ball-3{margin-left:3vh;}
.ball-4{margin-right:3vh;} 
h1{color:#1C0000;
    margin-left:3rem;}
h3, h5{color:#6FE4EE;
    margin-top:0;
    margin-bottom:0;}
nav{display:flex;
    justify-content:space-around;}
    /* TEST 
#test{display:inline-flex;
    justify-content:space-between;}
    */
.image{text-align:center;
    padding:1rem;
    border:1px solid transparent;
    border-radius:50%;}
.image:hover{box-shadow:5px 10px 20px red inset;}
.mini{width:3.5rem;
    height:3.5rem;}
.main{display:flex;
    justify-content:space-around;}
.left{width:40vh;}
.left img{width:75%;
    height:85%;
    padding-left:2%;
    padding-right:5%;}
.right{width:40%;
    margin-right:3%;
    display: flex;flex-direction:column;
    flex-wrap: wrap;
    border:1px solid transparent;
    border-radius:20px;
    background:rgb(255,253,109);
    background:linear-gradient(180deg, rgba(255,253,109,1) 43%, rgba(255,141,22,1) 100%);}
p{height:75%;}
.triballs{margin-bottom:3vh;
    display:flex;justify-content:space-between;}
.ball-5{margin-left:3vh;}
.ball-6{margin-right:3vh;}
footer{display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;}
ul > li{display:inline;
    text-align: center;
    color:#6FE4EE;
    font-size:1rem;
    font-weight:bold;
    letter-spacing:2px;}
.one{padding-right:1rem;}
.one1{padding-right:1rem;}
@media(min-width:736px){
    .search{width:20vh;
        height:5vh;
        display:flex;
        justify-content:flex-start;
        padding-right:30vh;}
    .telescope{width:10rem;
        height:10rem;}
    .blog{font-size:48px;padding:0;}
    .left,.right{width:50%;}
    .right{margin-right:3%;}
}
@media(min-width:375){
    .right p{height: 65%;}
    .triballs{margin-bottom:3vh;}
}