@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family:'Roboto', sans-serif;
    background:rgb(61,2,2);
    background:radial-gradient(circle, rgba(61,2,2,1) 0%, rgba(41,24,4,1) 100%);
    display:flex;
    flex-direction:column; 
}
header{
    padding:3%;
    display:flex;
    flex-direction:column;
    border:1px solid transparent;
}
.titre{
    display:flex;
    justify-content:space-evenly;
    height:50%;
    border:1px solid transparent;
    border-radius:20px;
    background:rgb(255,253,109);
    background:linear-gradient(180deg, rgba(255,253,109,1) 43%, rgba(255,141,22,1) 100%);
}
.vis1{
    width: 1.2rem;
    height: 1.2rem;
    padding-top: 2%;
    padding-right: 2%;
}
.vis2{
    width: 1.2rem;
    height: 1.2rem;
    padding-top: 2%;
    padding-left: 2%;
}
.telescope{
    padding-top:5%;
    width:5rem;
    height:5rem;
    color: #3a3221; 
}
.up{
    display:flex;
    flex-direction:column;
}
.search{
    padding-top:3%;
    padding-bottom: 3%;
    padding-right: 9rem;
    border:1px solid transparent;
    border-radius:20px;
    background:rgb(111,228,238);
    background:linear-gradient(0deg, rgba(111,228,238,1) 41%, rgba(255,253,109,1) 89%);
    margin-top:5%; 
    margin-right:0%;
}   
h1{
    color:#1C0000;
    margin-left: 3rem;
}
h3, h5{
    color:#6FE4EE;
}
nav{
    display:flex;
    justify-content:space-around;
}
.image{
    text-align:center;
    padding: 1rem;
    border:1px solid transparent;
    border-radius:50%;
}
.image:hover{
    /* transform:scale(1.4); */
    box-shadow:5px 10px 20px red inset;
}
.mini{
    width:3.5rem;
    height:3.5rem;
}
.main{
    display:flex;
    justify-content:space-around;
}
.left{
    width:40vh;
}
.left img{
    width:75%;
    height:85%;
    padding-left:2%;
    padding-right:5%;
}
.right{
    width: 40%;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(255,253,109);
    background: linear-gradient(180deg, rgba(255,253,109,1) 43%, rgba(255,141,22,1) 100%);
}
footer{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
ul > li{
    display: inline;
    color: #6FE4EE;
    font-size: 1rem;
}
.one{
    padding-right: 1rem;
}
.one1{
    padding-right: 1rem;
}

@media only screen and(min-width:736){
    .left, .right{
        width:50%;
    }
}




